<link href="~/Content/assets/css/aboutus.css" rel="stylesheet" />
<body>
    @*Menu About*@
    <div id="enca">  
            @*<div class="col-sm-12" style="z-index:-9999">*@
                <div class="row"  style="z-index:-9999">
                    <div class="col-3 text-center">
                    </div>
                    <div class="col-6 text-center bx-vertical-center" style="margin-top:100px">
                        <cenc>About Us</cenc>
                    </div>
                    <div class="col-3 text-center">
                    </div>
                </div>
            @*</div>*@
        </div>
        

        @*smart palate image *@
        <div class="scontainer2">
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4 text-center ">
                    <div class="bloqueimg">
                        <img src="~/images/AboutUs/SmartPalate-Web-SP.png" class="img-fluid" />
                    </div>
                </div>
                <div class="col-4">
                </div>
            </div>
            @*<br><br>*@<br/>
            @*section blue dots and white background*@
            <div class="scontainer3">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-md-3 ">
                            <div class="imgpuntos">
                                <img src="~/images/AboutUs/SmartPalate-Web-bluedots.png" style="width:100%;" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <textogris_2>
                                tin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años
                                de antiguedad. Richard McClintock, un profesor de Latin de la Universidad de Hampden-
                                Sydney en Virginia, encontró una de las palabras más   Hampden-Sydney en Virginia, en
                                contró una de las palabras más   Hampden-Sydney en Virginia, encontró unalas palabras 
                                <br />
                                <br />
                                oscuras de la lengua del latín, "consecteur", en un pasaje de Lorem Ipsum, y al seguir
                                leyendo distintos textos del latín descubrió la fuente indudable. Lorem Ipsum viene de 
                                las secciones 1.10.32 oscuras de la lengua del latín, "consecteur", en un pasaje de Lor
                                em Ipsum, "consecteur", en un pasaje de Lorem Ipsum,
                            </textogris_2>
                        </div>
                        <div class="col-md-3 ">
                            <div class="imgpuntos">
                                <img src="~/images/AboutUs/SmartPalate-Web-bluedots.png" style="width:100%;" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*-------------------------sistema----------*@
        <div class="scontainer">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="tamañoc">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <img src="~/images/AboutUs/software123.png" class="img-fluid" />
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div id="azul">
            <div class="scontainer">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <div class="contenedorwhite3">
                            <section class="targetswhite2" height: 400px>
                                <div class="row">
                                    <div class="col-12 text-center ">
                                        <packblue><h3>1. System </h3></packblue>
                                        <packblue>_______</packblue>
                                    </div>
                                </div>
                                <div class="centtext">
                                    <textogris> Lorem de lo. Lorem Ipsum ha sido elno estándar de las industrias desde el año 1500, cuando un impresor</textogris>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="col-lg-4 text-center">
                        <div class="contenedorwhite3">
                            <section class="targetswhite2">
                                <div class="row">
                                    <div class="col-12 text-center ">
                                        <packblue><h3>2.DataLink</h3></packblue>
                                        <packblue>_______</packblue>
                                    </div>
                                </div>
                                <div class="centtext">
                                    <textogris> Lorem de lo. Lorem Ipsum ha sido elno estándar de las industrias desde el año 1500, cuando un impresor</textogris>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="col-lg-4 text-center">
                        <div class="contenedorwhite3">
                            <section class="targetswhite2" heigth: 400px>
                                <div class="row">
                                    <div class="col-12 text-center ">
                                        <packblue> <h3>3.SmartPalate </h3></packblue>
                                        <packblue>_______</packblue>
                                    </div>
                                </div>
                                <div class="centtext">
                                    <textogris> Lorem de lo. Lorem Ipsum ha sido elno estándar de las industrias desde el año 1500, cuando un impresor</textogris>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                @*button*@
                <div class="row">
                    @*<div class="col-4 text-justify">
                    </div>*@
                    <div class="col-12 text-center ">
                        @*<div class="contimgcentro">*@
                        <!--<div class="contimgcentroi">-->
                        <a href="/Home/purchase?codigo=3">
                            <img src="~/images/AboutUs/SmartPalate-Web-moreinfo-white.png" width="150 "  height="150 " class="img-fluid" />
                        </a>
                        @*</div>
                        </div>*@
                    </div>
                    @*<div class="col-4 text-justify">
                    </div>*@
                </div>
            </div>
        </div>
        <br /> <br>
        @*CAROUSEL*@

        <div class="scontainer4">
            <!-- Flickity HTML init -->
            <div class="carousel" data-flickity='{ "autoPlay": true }'>
                <div class="keyhole-cell">
                    <img src="~/images/Carousel/1.JPG" alt="planes" />
                </div>
                <div class="keyhole-cell">
                    <img src="~/images/Carousel/11 (1).JPG" alt="planes" />
                </div>
                <div class="keyhole-cell">
                    <img src="~/images/Carousel/12.JPG" alt="planes" />
                </div>
                <div class="keyhole-cell">
                    <img src="~/images/Carousel/11.JPG" alt="planes" />
                </div>
                <div class="keyhole-cell">
                    <img src="~/images/Carousel/4.JPG" alt="planes" />
                </div>
                <div class="keyhole-cell">
                    <img src="~/images/Carousel/7 (1).JPG" alt="planes" />
                </div>
                <div class="keyhole-cell">
                    <img src="~/images/Carousel/7.JPG" alt="planes" />
                </div>
                <div class="keyhole-cell">
                    <img src="~/images/Carousel/8.JPG" alt="planes" />
                </div>
            </div>
        </div>

        <br /><br />

        <script src="~/Scripts/js/main.js"></script>
        <script src="~/Scripts/js/flickity-docs.min.js"></script>
        <link href="~/Content/assets/css/flickity-docs.css" rel="stylesheet" />
</body>