
<link href="~/Content/assets/css/conditions.css" rel="stylesheet" />
<body>
    <div id="enca">


        <div>
            <div class="row" style="z-index:-9999">
                <div class="col-3 text-center">
                </div>
                <div class="col-6 text-center bx-vertical-center" style="margin-top:100px">

                    <cenc>Terms and Conditions</cenc>
                </div>
                <div class="col-6 text-center bx-vertical-center">


                </div>
                <div class="col-3 text-center">
                </div>
            </div>
        </div>
    </div>

    <br /><br />
    @*section image*@
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-3 text-center ">
                <div class="imgpuntos">
                    <img src="~/images/AboutUs/SmartPalate-Web-bluedots.png" style="width:70%;" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12">

            </div>
            <div class="col-md-3 text-center">
                <div class="imgpuntos">
                    <img src="~/images/AboutUs/SmartPalate-Web-bluedots.png" style="width:70%;" />
                </div>
            </div>
        </div>
    </div>
    @*section condicions*@
    <br />
<div class="scontainer">
    <div class="bloques">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="bloques">
                    <div class="row">
                        <div class="col-12 text-center ">
                            <img src="~/images/Login/SmartPalate-Web-tc1.png" alt="Image did not load..." class="img-fluid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center ">
                            <div class="margenes">
                                <ctitulos>Privacy </ctitulos><ctitulos2>Policy</ctitulos2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-justify ">
                            <div class="letrascentro">
                                <textogris>
                                    Lorem Ipsum es simplemente el texto de relleno de las imprentas
                                    y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las
                                    industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
                                    desconocido usó una galería de textos y los mezcló de tal manera que logró hacer
                                </textogris>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*personal information*@
            <div class="col-lg-6 ">
                <div class="bloques">
                    <div class="row">
                        <div class="col-12 text-center ">
                            <img src="~/images/Login/SmartPalate-Web-tc2.png" alt="Image did not load..." class="img-fluid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center ">
                            <div class="margenes">
                                <ctitulos>Personal </ctitulos><ctitulos2>Information</ctitulos2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-justify ">
                            <div class="letrascentro">
                                <textogris>
                                    Lorem Ipsum es simplemente el texto de relleno de las imprentas
                                    y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las
                                    industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
                                    desconocido usó una galería de textos y los mezcló de tal manera que logró hacer
                                </textogris>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*No Personal Information*@


    <div class="xbloque">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="bloques">
                    <div class="row">
                        <div class="col-12 text-center ">
                            <img src="~/images/Login/SmartPalate-Web-tc3.png" alt="Image did not load..." class="img-fluid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center ">
                            <div class="margenes">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-justify ">
                            <div class="letrascentro">
                                <textogris>

                                </textogris>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="bloques1">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="row">
                            <div class="col-12 text-left ">
                                <div class="margenes">
                                    <div class="derecha">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-left ">
                                <div class="margenes">
                                    <div class="letrascentro2">
                                        <ctitulos>Non-Personal</ctitulos> <ctitulos2>Information</ctitulos2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-justify ">
                                <div class="letrascentro2">
                                    <textogris>
                                        Lorem Ipsum es simplemente el texto de relleno de las imprentas
                                        y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las
                                        industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
                                        desconocido usó una galería de textos y los mezcló de tal manera que logró hacer  desconocido usó una galería de textos 
                                        y los mezcló de tal manera que logró hacer
                                    </textogris>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    @*-----------------*@
    <br /><br />
    @*Information We Don't Collect*@


    <div class="xbloque">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="bloques">
                    <div class="row">
                        <div class="col-12 text-center ">
                            <img src="~/images/Login/SmartPalate-Web-tc4.png" alt="Image did not load..." class="img-fluid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center ">
                            <div class="margenes">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-justify ">
                            <div class="letrascentro">
                                <textogris>

                                </textogris>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bloques1">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="row">
                            <div class="col-12 text-left ">
                                <div class="margenes">
                                    <div class="derecha">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-left ">
                                <div class="margenes">
                                    <div class="letrascentro2">
                                        <ctitulos>Information </ctitulos><ctitulos2>We Don't Collect</ctitulos2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-justify ">
                                <div class="letrascentro2">
                                    <textogris>
                                        Lorem Ipsum es simplemente el texto de relleno de las imprentas
                                        y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las
                                        industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
                                       
                                    </textogris>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br /><br />
    @*-------------------*@
    @*Security*@
    <div class="xbloque">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="bloques">
                    <div class="row">
                        <div class="col-12 text-center ">
                            <img src="~/images/Login/SmartPalate-Web-tc5.png" alt="Image did not load..." class="img-fluid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center ">
                            <div class="margenes">
                                <ctitulos>Security </ctitulos>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-justify ">
                            <div class="letrascentro">
                                <textogris>
                                    Lorem Ipsum es simplemente el texto de relleno de las imprentas
                                    y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las
                                    industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
                                    desconocido usó una galería de textos y los mezcló de tal manera que logró hacer
                                </textogris>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*change*@

            <div class="col-lg-6 ">
                <div class="bloques">
                    <div class="row">
                        <div class="col-12 text-center ">
                            <img src="~/images/Login/SmartPalate-Web-tc6.png" alt="Image did not load..." class="img-fluid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center ">
                            <div class="letrascentro">
                                <ctitulos>Change </ctitulos><ctitulos2>to This Privacy Policy</ctitulos2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-justify ">
                            <div class="letrascentro">
                                <textogris>
                                    Lorem Ipsum es simplemente el texto de relleno de las imprentas
                                    y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las
                                    industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
                                    desconocido usó una galería de textos y los mezcló de tal hacer
                                </textogris>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
