<link href="~/Content/assets/css/contact.css" rel="stylesheet" />
<body>
    <div id="enca">        
        @*<div class="col-sm-12" style="z-index:-9999">*@
            <div class="row"  style="z-index:-9999">
                <div class="col-3 text-center">
                </div>
                <div class="col-6 text-center bx-vertical-center" style="margin-top:100px">
                    <cenc>Contact Us</cenc>
                </div>
                <div class="col-3 text-center">
                </div>
            </div>
        @*</div>*@
        <br /><br />
        </div>
        <div class="scontainer" style="margin-top:5px;">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-12 text-center ">
                        <textotopics>Send us a message</textotopics>
                    </div>
                </div>
            </div>
        </div>
        <section class="ppage-section  portfolio" id="portfolio">
            <div class="scontainer" style="margin-top:-7px;">
                <div class="letrascentro">
                    <div class="col-sm-12">
                        @*Name*@
                        <div class="row">
                            <div class="col-12 text-left ">
                                <label class="col-md-6 control-label" for="message"><bluetextc>Name</bluetextc></label>
                                <br />
                                <div class="col-md-12">
                                    <input type="text" id="textosimpleinput">
                                </div>
                            </div>
                        </div>
                        <br />
                        @*Email Address*@
                        <div class="row">
                            <div class="col-12 text-left ">
                                <label class="col-md-6 control-label" for="message"><bluetextc>Email address</bluetextc></label>
                                <br />
                                <div class="col-md-12">
                                    <input type="text"  id="textosimpleinput">
                                </div>
                            </div>
                        </div>
                        <br />
                        @*Message*@
                        <div class="row">
                            <div class="col-12 text-left ">
                                <label class="col-md-6 control-label" for="message"><bluetextc>Message</bluetextc></label>
                                <br />
                                <div class="col-md-12">
                                    <textarea class="form-control" id="textomensaje" name="message" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <br /><br /><br />
                        @*button send*@
                        <div class="row">
                            <div class="col-4 text-justify">
                            </div>
                            <div class="col-4 text-center ">
                                <div class="contimgcentro">
                                    <div class="contimgcentroi">
                                        <a href="/Home/purchase?codigo=3">
                                            <img src="~/images/Contact/SmartPalate-Web-send.png"  class="img-fluid" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 text-justify">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>


