<link href="~/Content/assets/css/forum.css" rel="stylesheet" />

<body>
    <div id="enca">
    
            <div class="row"  style="z-index:-9999">
                <div class="col-3 text-center">
                </div>
                <div class="col-6 text-center bx-vertical-center" style="margin-top:100px">
                    <cenc>Forum</cenc>
                </div>
                <div class="col-3 text-center">
                </div>
            </div>
       
    </div>
        <div class="scontainer">
            <div class="bloque">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="separador">
                                <textotopics>Please login to post</textotopics>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <textotopics>
                                Topics <img src="~/images/Forum/SmartPalate-Web-blueline.png" style=" margin-bottom:-15px; max-width:105%; " aling="right" class="img-fluid">
                            </textotopics>
                        
                        </div>
                    </div>
                </div>
              
            </div>
        </div>

</body>

