<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>CompleteSpeech - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="~/Content/assets/css/index.css" rel="stylesheet" />

</head>
<body>
    <div id="enca" >
        <div class="scontainer2">
            <div class="separador">
                <div class="row" >
                    <div class="col-1">
                    </div>
                    <div class="col-10 text-center" >
                        <div class=" texto1">
                            <tituloblanco>The Best Resource</tituloblanco>
                            <br />
                            <tituloblanco>for Speech <halimun>Therapy</halimun> </tituloblanco>
                        </div>
                    </div>
                    <div class="col-1">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12 ">
                        <div class="letrascentro"  >
                            <textoderecha style="">The SmartPalete doues what no other tool can. This, bio-feedback technology creates a digital visualization of how your tangue functions during speech. Gain a clear undestanding of what changes need to be made to build an perfect lasting speech habits.</textoderecha>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scontainer3index" >
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="tama">
                                    <img src="~/Content/assets/img/HOME/SmartPalate-Web-whitedots1.png" class="img-fluid" />
                                </th>
                                <th class="tamac">
                                    <img src="~/Content/assets/img/HOME/SmartPalate-Web-computer.png" class="img-fluid" alt="" />
                                </th>
                                <th class="tama">
                                    <img src="~/Content/assets/img/HOME/SmartPalate-Web-whitedots1.png" class="img-fluid" />
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*service package*@

 
 
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="tama">
                        <img src="~/Content/assets/img/HOME/SmartPalate-Web-bluedots.png" class="img-fluid" />
                    </th>
                    <th class="tamac">
                        <letrasazules>Service package</letrasazules>
                        <br /><br /><br /><br />
                    </th>

                    <th class="tama">
                        <img src="~/Content/assets/img/HOME/SmartPalate-Web-bluedots.png" class="img-fluid" />
                    </th>
                </tr>
            </thead>
        </table>
    </div>

  
    @*primer seccion 1 terapeuta 1 paciente*@
<section class="ppage-section  portfolio" id="portfolio">
    @*"ppage-section  portfolio" id="portfolio"*@
    <div class="scontainer" >
        <div class="row">
            <div class="col-lg-4 text-center"  id="target1" >
                <div class="circcont">
                    <div class="ciresp">
                        <img src="~/Content/assets/img/index/SmartPalate-Web-number1.png"  class="img-fluid"  alt="" />
                    </div>
                </div>
                <section class="targetswhite">
                    <div class="contver">
                        <div class="contever3">
                            <div class="textcenter">
                                <textgray>1 Terapeuta</textgray>
                            </div>
                            <div class="row">
                              
                                <div class="col-12">
                                    <img src="~/images/Home/CruzdelTarget.png"  />
                                </div>
                                
                            </div>
                            <div class="textcenter">
                                <textgray>1 Paciente</textgray>
                            </div>
                        </div>
                    </div>
                </section>
                @*-------------------------*@
                <br />
                <div class="row">
                    <div class="col-3 text-justify">
                    </div>
                    <div class="col-6 text-center ">
                        <div class="contimgcentro">
                            <div class="contimgcentroi">
                                <a href="/Home/purchase?codigo=3">
                                    <img src="~/Content/assets/img/index/SmartPalate-Web-buynow.png" class="img-fluid" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 text-justify">
                    </div>
                </div>
            </div>
            @*---finaliza boton buy now---------*@

            @*segubda seccion 3 terapeuta 3 paciente*@
            <div class="col-lg-4 text-center" id="target2">
                <div class="circcont">
                    <div class="ciresp">
                        <img src="~/Content/assets/img/index/SmartPalate-Web-number2.png" class="img-fluid" alt="" />
                    </div>
                </div>
                <section class="targetswhite" >
                    <div class="contver">
                        <div class="contever3">
                            <div class="textcenter">
                                <textgray>3 Terapeutas</textgray>
                            </div>
                            <div class="row">                               
                                <div class="col-12">
                                    <img src="~/images/Home/CruzdelTarget.png" />
                                </div>                                
                            </div>
                            <div class="textcenter">
                                <textgray>3 Pacientes</textgray>
                            </div>
                        </div>
                    </div>
                </section>
                <br />
                <div class="row">
                    <div class="col-3 text-justify">
                    </div>
                    <div class="col-6 text-center ">
                        <div class="contimgcentro">
                            <div class="contimgcentroi">
                                <a href="/Home/purchase?codigo=3">
                                    <img src="~/Content/assets/img/index/SmartPalate-Web-buynow.png" class="img-fluid" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 text-justify">
                    </div>
                </div>
            </div>
            @*tercer seccion ILIMITADO*@

            <div class="col-lg-4 text-center" id="target3">
                <div class="circcont">
                    <div class="ciresp">
                        <img src="~/Content/assets/img/index/SmartPalate-Web-number3.png" class="img-fluid" alt="" />
                    </div>
                </div>

                <section class="targetswhite">
                    <div class="contver">
                        <div class="contever3">
                            <div class="textcenter">
                                <br>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="col-12 text-center ">
                                        <packblue>Ilimitado</packblue>

                                    </div>

                                </div>

                            </div>
                            <div class="textcenter">
                                <br>
                            </div>
                        </div>
                    </div>
                </section>
                <br />
                <div class="row">
                    <div class="col-3 text-justify">
                    </div>
                    <div class="col-6 text-center ">
                        <div class="contimgcentro">
                            <div class="contimgcentroi">
                                <a href="/Home/purchase?codigo=3">
                                    <img src="~/Content/assets/img/index/SmartPalate-Web-buynow.png" class="img-fluid" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 text-justify">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <div class="scontainer">
        <div class="row">
            <div class="col-12">
                <img src="~/images/Home/smartpalate_system.jpg" class="img-fluid" />
            </div>
        </div>
    </div>

    <div id="carousel">
        <!-- Flickity HTML init -->
        <div class="carousel" data-flickity='{ "autoPlay": true }'>
            <div class="keyhole-cell">
                <img src="~/images/Carousel/1.JPG" />
            </div>
            <div class="keyhole-cell">
                <img src="~/images/Carousel/11 (1).JPG" />
            </div>
            <div class="keyhole-cell">
                <img src="~/images/Carousel/11.JPG" />
            </div>
            <div class="keyhole-cell">
                <img src="~/images/Carousel/12.JPG" />
            </div>
            <div class="keyhole-cell">
                <img src="~/images/Carousel/4.JPG" />
            </div>
            <div class="keyhole-cell">
                <img src="~/images/Carousel/7 (1).JPG" />
            </div>
            <div class="keyhole-cell">
                <img src="~/images/Carousel/7.JPG" />
            </div>
            <div class="keyhole-cell">
                <img src="~/images/Carousel/8.JPG" />
            </div>
        </div>
    </div>

  <br /><br />

    <div id="azul" >
        <div class="scontainer">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div class="espacios">
                        <img src="~/Content/assets/img/HOME/SmartPalate-Web-people.png" class="img-fluid" alt="" />
                        <div class="row">
                            <div class="contwords2">
                                <div class="contwordsc2">
                                    <overletras>OVER 0</overletras>
                                </div>
                            </div>
                        </div>
                        <div class="contenedorlinea">
                            <img src="~/Content/assets/img/HOME/SmartPalate-Web-lines.png" class="img-fluid" alt="" style="max-height:100%" />
                        </div>
                        <tituloblanco>people using</tituloblanco>
                    </div>
                </div>

                <div class="col-lg-4 text-center">
                    <div class="espacios">
                        <img src="~/Content/assets/img/HOME/SmartPalate-Web-world.png" class="img-fluid" alt="" />
                        <div class="row">
                            <div class="contwords2">
                                <div class="contwordsc2">
                                    <overletras>OVER 0</overletras>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contenedorlinea">
                        <img src="~/Content/assets/img/HOME/SmartPalate-Web-lines.png" class="img-fluid" alt="" style="max-height:100%" />
                    </div>
                    <tituloblanco>contries served</tituloblanco>
                </div>
                <br /> <br />
                <div class="col-lg-4 text-center">
                    <div class="espacios">
                        <br />
                        <img src="~/Content/assets/img/HOME/SmartPalate-Web-check.png" class="img-fluid" alt="" />
                        <div class="row">
                            <div class="contwords2">
                                <div class="contwordsc2">
                                    <overletras>OVER 0</overletras>
                                </div>
                            </div>
                        </div>
                        <div class="contenedorlinea">
                            <img src="~/Content/assets/img/HOME/SmartPalate-Web-lines.png" class="img-fluid" alt="" style="max-height:100%" />
                        </div>
                        <tituloblanco>people benefited</tituloblanco>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    @*div goals *@

    <div id="blanco">
        <div class="scontainer">
            <div class="row">
                <div class="col-lg-2 text-center">
                </div>
                <div class="col-lg-4 text-center">
                    <div class="contenedorwhite3">
                        <section class="targetswhite2">
                            <div class="row">
                                <div class="col-2">
                                </div>
                                <div class="col-8 text-center ">
                                    <img src="~/images/Home/SmartPalate-Web-goals.png" class="img-fluid" />
                                </div>
                                <div class="col-2">
                                </div>
                            </div>

                            <textogris> Lorem de lo. Lorem Ipsum ha sido elno estándar de las industrias desde el año 1500, cuando un impresor</textogris>


                        </section>
                    </div>
                    <br />
                </div>

                
                @*VISION*@
                <div class="col-lg-4 text-center">
                    <div class="contenedorwhite3">
                        <section class="targetswhite2">
                            <div class="row">
                                <div class="col-2">
                                </div>
                                <div class="col-8 text-center ">
                                    <img src="~/images/Home/SmartPalate-Web-vsion.png" class="img-fluid" />
                                </div>
                                <div class="col-2">
                                </div>
                            </div>
                            <textogris> Lorem de lo. Lorem Ipsum ha sido elno estándar de las industrias desde el año 1500, cuando un impresor</textogris>
                        </section>
                    </div>
                </div>
                <div class="col-lg-2 text-center">
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="tama">
                        <img src="~/images/Home/SmartPalate-Web-bluedots.png" class="img-fluid" />
                    </th>
                    <th class="tamac">
                        <br><br>
                        <div class="row">
                            @*<div class="col-4 text-justify">
                            </div>*@
                            <div class="col-12 text-center ">

                                <a href="/Home/purchase?codigo=3">
                                    <img src="~/images/Home/SmartPalate-Web-moreinfo.png" width="250"  height="250" class="img-fluid" />
                                </a>


                            </div>
                            @*<div class="col-4 text-justify">
                            </div>*@
                        </div>

                        <br><br><br><br>
                    </th>

                    <th class="tama">
                        <img src="~/images/Home/SmartPalate-Web-bluedots.png" class="img-fluid" />
                    </th>
                </tr>
            </thead>
        </table>
    </div>

    

    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/flickity-docs.min.js"></script>
    <link href="~/Content/assets/css/flickity-docs.css" rel="stylesheet" />

</body>
