

<link href="~/fonts/newfont/fuentes.css" rel="stylesheet" />

<link href="~/Content/assets/css/use.css" rel="stylesheet" />


<body>
    <div id="enca">
        <div class="row" style="z-index:-9999">
            <div class="col-3 text-center">
            </div>

            <div class="col-6 text-center bx-vertical-center" style="margin-top:100px">

                <cenc>How to use</cenc>
            </div>
            <div class="col-6 text-center bx-vertical-center">


            </div>
            <div class="col-3 text-center">
            </div>
        </div>
    </div>

    <div class="scontainer">
        <div class="tcontainer">
            <div class="row">
                <div id="column1">
                    <div class="pvertical">
                        <div class="vertical">
                            <div class="imgcontainer">
                                <br />  <br /><br /><br />
                                <img src="~/images/HowToUse/SmartPalate-Web-1.png" id="imagen1" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="column2">
                    <img class="img-fluid" src="~/images/HowToUse/sobre.png" alt="Image did not load...">
                </div>
                <div id="column3">
                    <div class="pvertical">
                        <div class="vertical">
                            <br /><br /><br />
                            <textblue>Lorem Ipsum</textblue>
                        </div>
                    </div>
                </div>
                <div id="column4">
                    <div class="pvertical">
                        <div class="vertical">
                            <br /><br />
                            <textgray> Lorem de lo. Lorem Ipsum ha sido elno estándar de las industrias desde el año 1500, cuando un impresor,Lorem de lo. Lorem Ipsum ha sido elno estándar de las industrias desde el año 1500, cuando un impresor</textgray>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
            <div class="tcontainer2">
                <div class="row">
                    <div id="column1_2">
                        <div class="pvertical">
                            <div class="vertical">                                
                                <textblue>Lorem Ipsum</textblue>
                            </div>
                        </div>
                    </div>
                    <div id="column2_2">
                        <div class="pvertical">
                            <div class="vertical">
                                <br />  <br />
                                <textgray> Lorem de lo. Lorem Ipsum ha sido elno estándar de las industrias desde el año 1500, cuando un impresor,Lorem de lo. Lorem Ipsum ha sido elno estándar de las industrias desde el año 1500, cuando un impresor</textgray>
                            </div>
                        </div>
                    </div>
                    <div id="column3_2">
                        <img class="img-fluid" src="~/images/HowToUse/sobre.png" alt="Image did not load...">
                    </div>
                    <div id="column4_2">
                        <div class="pvertical">
                            <div class="vertical">
                                <div class="imgcontainer">
                                    <br />  <br /><br /><br />
                                    <img src="~/images/HowToUse/SmartPalate-Web-2.png" id="imagen1" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br />
            <div class="tcontainer">
                <div class="row">
                    <div id="column1">
                        <div class="pvertical">
                            <div class="vertical">
                                <div class="imgcontainer">
                                    <br />  <br /><br /><br />
                                    <img src="~/images/HowToUse/SmartPalate-Web-3.png" id="imagen1" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="column2">
                        <img class="img-fluid" src="~/images/HowToUse/sobre.png" alt="Image did not load...">
                    </div>
                    <div id="column3">
                        <div class="pvertical">
                            <div class="vertical">
                                <br />  <br /><br />
                                <textblue>Lorem Ipsum</textblue>
                            </div>
                        </div>
                    </div>
                    <div id="column4">
                        <div class="pvertical">
                            <div class="vertical">
                                <br />  <br />
                                <textgray> Lorem de lo. Lorem Ipsum ha sido elno estándar de las industrias desde el año 1500, cuando un impresor,Lorem de lo. Lorem Ipsum ha sido elno estándar de las industrias desde el año 1500, cuando un impresor</textgray>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
            <br />
            <div class="tcontainer">
                <div class="row">                    
                    <div id="column1_2">
                        <div class="pvertical">
                            <div class="vertical">
                                <br />  <br /><br />
                                <textblue>Lorem Ipsum</textblue>
                            </div>
                        </div>
                    </div>
                    <div id="column2_2">
                        <div class="pvertical">
                            <div class="vertical">
                                <br />  <br />
                                <textgray> Lorem de lo. Lorem Ipsum ha sido elno estándar de las industrias desde el año 1500, cuando un impresor,Lorem de lo. Lorem Ipsum ha sido elno estándar de las industrias desde el año 1500, cuando un impresor</textgray>
                            </div>
                        </div>
                    </div>
                    <div id="column3_2">
                        <img class="img-fluid" src="~/images/HowToUse/sobre.png" alt="Image did not load...">
                    </div>
                    <div id="column4_2">
                        <div class="pvertical">
                            <div class="vertical">
                                <div class="imgcontainer">
                                    <br />  <br /><br /><br />
                                    <img src="~/images/HowToUse/SmartPalate-Web-4.png" id="imagen1" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>

    


        <br />    <br />


        <div class="vcontainer">
            <div class="row">
                <div class="col-12 text-center ">
                    <xtexto>Check out complete videos here</xtexto>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-4 text-justify">
                </div>
                <div class="col-4 text-center ">
                    <div class="contimgcentro">
                        <div class="contimgcentroi">
                            <img src="~/images/HowToUse/SmartPalate-Web-watchvideo.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="col-4 text-justify">
                </div>
            </div>
        </div>
@*-----------------------------*@


</body>