
.contimgcentro {
    display: flex;
    justify-content: center;
}

.contimgcentroi {
    padding: 0px;
    margin: 0px;
    background-color: rgb(0 0 0 / 0,00);
    width: 10rem;
}

@media (min-width: 280px) {
    .contimgcentroi {
        width: 10rem;
    }
}

@media (min-width: 360px) {
    .contimgcentroi {
        width: 10rem;
    }
}

@media (min-width: 480px) {
    .contimgcentroi {
        width: 10rem;
    }
}

@media (min-width: 540px) {
    .contimgcentroi {
        padding-left: 10%;
        padding-right: 10%;
        line-height: 10px;
    }
}


/* Imagen utilizada en pantallas de anchura 768 px y superior */
@media (min-width: 768px) {
    .contimgcentroi {
        width: 10rem;
    }
}

/* Imagen utilizada en pantallas de anchura 1200 px y superior */
@media (min-width: 1024px) {
    .contimgcentroi {
        width: 10rem;
    }
}


@media (min-width: 1200px) {
    .contimgcentroi {
        width: 10rem;
    }
}

@media (min-width: 1700px) {
    .contimgcentroi {
        width: 10rem;
    }
}


@media (min-width: 1900px) {
    .contimgcentroi {
        width: 10rem;
    }
}






@media (min-width: 280px) {

    .navbar-expand-lg .navbar-nav {
        padding-left: 2%;
    }
    .navbar-light .navbar-brand {
        
        width: 60%;
    }

}
@media (min-width: 360px) {

    .navbar-expand-lg .navbar-nav {
        padding-left: 2%;
    }
}

@media (min-width: 480px) {

    .navbar-expand-lg .navbar-nav {
        padding-left: 2%;
    }
}
@media (min-width: 760px) {

    .navbar-expand-lg .navbar-nav {
        padding-left: 10%;
    }
}
@media (min-width: 1024px) {

    .navbar-expand-lg .navbar-nav {
        padding-left: 5%;
    }
    .navbar-light .navbar-brand {
        width: 30%;
    }
}
@media (min-width: 1080px) {

    .navbar-expand-lg .navbar-nav {
        padding-left: 15%;
    }
}

@media (min-width: 1200px) {

    .navbar-expand-lg .navbar-nav {
        padding-left: 20%;
    }
}
@media (min-width: 1900px) {

    .navbar-expand-lg .navbar-nav {
        padding-left: 26%;
    }
    .navbar-light .navbar-brand {
        width: 18%;
    }
}
.float-right {
    float: right !important;
    background-color: #0076c6 !important;
}

    .scontainer3index {
        width: 80%;
        margin-left: 10%;
    }

    @media (min-width: 280px) {
        .scontainer3index {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }

        .tama {
            display: none;
        }
    }

    @media (min-width: 360px) {
        .scontainer3index {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }

        .tama {
            display: none;
        }
    }

    @media (min-width: 480px) {
        .scontainer3index {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }

        .tama {
            display: none;
        }
    }

    @media (min-width: 540px) {
        .scontainer3index {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }

        .tama {
            display: none;
        }
    }


    @media (min-width: 768px) {
        .scontainer3index {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }

        .tama {
            display: none;
        }
    }


    @media (min-width: 1024px) {
        .scontainer3index {
            width: 90%;
            margin-left: 5%;
        }

            .scontainer3index .tama {
                display: block;
            }
    }


    @media (min-width: 1200px) {
        .scontainer3index {
            width: 90%;
            margin-left: 5%;
        }

        .tama {
            display: none;
        }
    }

    @media (min-width: 1700px) {
        .scontainer3index {
            width: 90%;
            margin-left: 5%;
        }

        .tama {
            display: none;
        }
    }


    @media (min-width: 1900px) {
        .scontainer3index {
            width: 90%;
            margin-left: 5%;
        }

        .tama {
            display: none;
        }
    }



    .table thead th {
        vertical-align: bottom;
        border-bottom: 0px solid #dee2e6;
        border-top: 0px solid #dee2e6;
        text-align: center;
    }


    @media (min-width: 1024px) {
        .tama {
            vertical-align: middle;
            display: none;
        }
    }

    @media (min-width: 1080px) {
        .tama {
            vertical-align: middle;
            display: block;
        }
    }

    @media (min-width: 360px) {
        .tama {
        }
    }

    @media (min-width: 280px) {
        .tama {
        }
    }




    .mb-5, .my-5 {
        margin-bottom: 1rem !important;
    }

    .pvertical {
        display: table;
        height: 100%;
        padding: 0px;
        width: 100%;
    }

    .vertical {
        display: table-cell;
        vertical-align: middle;
    }


    .col-1, .col-2 {
        padding-right: 1px;
        padding-left: 1px;
    }

    .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
        padding-right: 0px;
        padding-left: 0px;
    }


    .text-center {
        text-align: center !important;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    .contwords {
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.00);
    }


    .contwordsc {
        width: 100%;
        height: 5vh;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.00);
    }

    letrasazules {
        font-size: calc(1.3em + 0.5vw);
        color: #1a97fb;
        font-family: 'Mulish-bold';
        max-height: 100%;
        max-width: 100%;
    }



    .contwords2 {
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.00);
        width: 100%;
    }


    .contwordsc2 {
        width: 100%;
        height: auto;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.00);
    }



    tituloblanco {
        font-size: calc(1.0em + 0.2vw);
        color: white;
        font-family: 'Mulish-bold';
        max-height: 100%;
        max-width: 100%;
    }

    .letrascentro {
        margin: 0.3rem;
        padding-left: 30%;
        padding-right: 30%;
        height: auto;
        /* IMPORTANTE */
        text-align: justify;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        word-wrap: break-word;
        overflow: hidden;
        width: 100%;
    }





    .bg-light {
        background-color: #021e3a2b !important;
        color: white;
    }

    .navbar-light .navbar-nav .nav-link {
        color: white;
        font-family: 'Mulish-Regular';
        font-size: calc(0.5em + 0.5vw);
    }

        .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
            color: rgb(255 255 255 / 90%);
        }

    .navbar-light .navbar-brand {
        color: white;
    }

    halimun {
        font-size: 3.0vh;
        min-width: 30px;
        color: white;
        font-family: 'Halimun';
    }


    textoderecha {
        font-size: calc(0.8em + 0.5vw);
        color: white;
        font-family: "Mulish-Regular";
        line-height: 1px;
    }

    .ppage-section {
        padding: 2rem 0;
        height: 100%;
        background-repeat: no-repeat;
        background-image: url('../img/HOME/fondo21200.png');
        background-size: 100% 100%;
    }


    @media (min-width: 280px) {
        .letrascentro {
            padding-left: 10%;
            padding-right: 10%;
            line-height: 10px;
        }
    }

    @media (min-width: 360px) {
        .letrascentro {
            padding-left: 10%;
            padding-right: 10%;
            line-height: 10px;
        }
    }
    /* Imagen utilizada en pantallas de anchura 480 px y superior */
    @media (min-width: 480px) {
        .letrascentro {
            padding-left: 30%;
            padding-right: 30%;
            line-height: 30px;
        }
    }

    @media (min-width: 540px) {
        .letrascentro {
            padding-left: 10%;
            padding-right: 10%;
            line-height: 10px;
        }
    }


    /* Imagen utilizada en pantallas de anchura 768 px y superior */
    @media (min-width: 768px) {
        .letrascentro {
            padding-left: 30%;
            padding-right: 30%;
            line-height: 25px;
        }
    }

    /* Imagen utilizada en pantallas de anchura 1200 px y superior */
    @media (min-width: 1200px) {
        .letrascentro {
            padding-left: 30%;
            padding-right: 30%;
            line-height: 30px;
        }
    }

    @media (min-width: 1900px) {
        .letrascentro {
            padding-left: 30%;
            padding-right: 30%;
            line-height: 30px;
        }
    }



    #enca {
        background-image: url('../img/HOME/SmartPalate-Web-background1.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;
        
    }




@media (min-width: 280px) {
    #enca {
        background-image: url('../img/HOME/280.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;
    }
}


    @media (min-width: 360px) {
        #enca {
            background-image: url('../img/HOME/360.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: white;
        }
    }
    /* Imagen utilizada en pantallas de anchura 480 px y superior */
    @media (min-width: 480px) {
        #enca {
            background-image: url('../img/HOME/fondo480x.png');
        }
    }

    /* Imagen utilizada en pantallas de anchura 768 px y superior */
    @media (min-width: 768px) {
        #enca {
            background-image: url('../img/HOME/fondo768x.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: white;
        }
    }


@media (min-width: 1024px) {
    #enca {
        background-image: url('../img/HOME/1024.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;
    }
}

    /* Imagen utilizada en pantallas de anchura 1200 px y superior */
    @media (min-width: 1200px) {
        #enca {
            background-image: url('../img/HOME/fondo1200x.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: white;
        }
    }

    @media (min-width: 1900px) {
        #enca {
            background-image: url('../img/HOME/fondo1900x.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: white;
        }
    }


@media (min-width: 280px) {
    .ppage-section {
        height: 100%;
        background-repeat: no-repeat;
        background-image: url('../img/HOME/2280.jpg');
        background-size: 100% 100%;
    }
}

    /*fondo dos*/
    @media (min-width: 360px) {
        .ppage-section {
            height: 100%;
            background-repeat: no-repeat;
            background-image: url('../img/HOME/2360.jpg');
            background-size: 100% 100%;
        }
    }
    /* Imagen utilizada en pantallas de anchura 480 px y superior */
    @media (min-width: 480px) {
        .ppage-section {
            height: 100%;
            background-repeat: no-repeat;
            background-image: url('../img/HOME/fondo2480.png');
            background-size: 100% 100%;
        }
    }

    /* Imagen utilizada en pantallas de anchura 768 px y superior */
    @media (min-width: 768px) {
        .ppage-section {
            height: 100%;
            background-repeat: no-repeat;
            background-image: url('../img/HOME/2768.jpg');
            background-size: 100% 100%;
        }
    }

    /* Imagen utilizada en pantallas de anchura 1200 px y superior */
    @media (min-width: 1200px) {
        .ppage-section {
            height: 100%;
            background-repeat: no-repeat;
            background-image: url('../img/HOME/1900.jpg');
            background-size: 100% 100%;
        }
    }


    #azul {
        height: 100%;
        background-repeat: no-repeat;
        background-image: url('../img/HOME/SmartPalate-Web-background2.png');
        background-size: 100% 100%;
    }


    @media (min-width: 280px) {
        #azul {
            height: 100%;
            background-repeat: no-repeat;
            background-image: url('../img/HOME/sinpuntos.png');
            background-size: 100% 100%;
        }
    }

    @media (min-width: 360px) {
        #azul {
            height: 100%;
            background-repeat: no-repeat;
            background-image: url('../img/HOME/sinpuntos.png');
            background-size: 100% 100%;
        }
    }
    /* Imagen utilizada en pantallas de anchura 480 px y superior */
    @media (min-width: 480px) {
        #azul {
            height: 100%;
            background-repeat: no-repeat;
            background-image: url('../img/HOME/sinpuntos.png');
            background-size: 100% 100%;
        }
    }

    /* Imagen utilizada en pantallas de anchura 768 px y superior */
    @media (min-width: 768px) {
        #azul {
            height: 100%;
            background-repeat: no-repeat;
            background-image: url('../img/HOME/sinpuntos.png');
            background-size: 100% 100%;
        }
    }

    @media (min-width: 1000px) {
        #azul {
            height: 100%;
            background-repeat: no-repeat;
            background-image: url('../img/HOME/sinpuntos.png');
            background-size: 100% 100%;
        }
    }

    /* Imagen utilizada en pantallas de anchura 1200 px y superior */
    @media (min-width: 1200px) {
        #azul {
            height: 100%;
            background-repeat: no-repeat;
            background-image: url('../img/HOME/probar.png');
            background-size: 100% 100%;
        }
    }




    #blanco {
        background-color: white;
    }

    .targetswhite {
        height: auto;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: white;
        -webkit-box-shadow: 10px 10px 9px 1px rgba(0,0,0,0.17);
        -moz-box-shadow: 10px 10px 9px 1px rgba(0,0,0,0.17);
        box-shadow: 10px 10px 9px 1px rgba(0,0,0,0.17);
        text-overflow: Ellipsis;
    }


    @media (min-width: 280px) {
        .targetswhite {
            /*height: 23rem;*/ comentos
            width: 13em;
        }
    }

    @media (min-width: 360px) {
        .targetswhite {
            height: 22rem;
            width: 15em;
        }
    }

    @media (min-width: 768px) {
        .targetswhite {
            height: 28rem;
            width: 27em;
        }
    }

    @media (min-width: 1200px) {
        .targetswhite {
            height: 28rem;
            width: 27em;
        }
    }

    @media (min-width: 1024px) {
        .targetswhite {
            height: 28rem;
            width: 15em;
        }
    }

    @media (min-width: 1900px) {
        .targetswhite {
            height: 28rem;
            width: 22em;
        }
    }



    body {
        margin-top: 0px;
        padding-top: 0px;
    }

    .circcont {
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.00);
    }


    .ciresp {
        width: 16vh;
        height: 6vh;
        padding: 15px;
        margin: 15px;
        background-color: rgba(0, 0, 0, 0.00);
    }

    .contver {
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.00);
    }


    .textoderecha,
    .textoderecha-fluid,
    .textoderecha-xl,
    .textoderecha-lg,
    .textoderecha-md,
    .textoderecha-sm {
        margin-top: 3vh;
    }

    @media (min-width: 400px) {
        textoderecha {
            max-width: 100%;
            margin-top: 7vh;
        }
    }

    @media (max-width: 1200px) {
        .col-8 {
            padding: 0px;
        }
    }


    @media (min-width: 576px) {
        textoderecha {
            max-width: 100%;
            margin-top: 1vh;
        }
    }

    @media (max-width: 360px) {
        textoderecha {
            max-width: 100%;
            margin-top: 3vh;
        }
    }

    @media (max-width: 768px) {
        textoderecha {
            max-width: 100%;
        }
    }

    @media (max-width: 992px) {
        textoderecha {
            max-width: 100%;
        }
    }

    @media (max-width: 1200px) {
        textoderecha {
            font-size: calc(0.5em + 0.2vw);
            line-height: 10px;
        }
    }




    .letrascentro,
    .letrascentro-fluid,
    .letrascentro-xl,
    .letrascentro-lg,
    .letrascentro-md,
    .letrascentro-sm {
        height: auto;
    }

    @media (min-width: 400px) {
        letrascentro {
            height: 25vh;
        }
    }

    @media (max-width: 1200px) {
        letrascentro {
            height: 25vh;
        }
    }


    @media (min-width: 576px) {
        letrascentro {
            height: 25vh;
        }
    }

    @media (max-width: 360px) {
        letrascentro {
            height: 25vh;
        }
    }

    @media (max-width: 768px) {
        letrascentro {
            height: 25vh;
        }
    }

    @media (max-width: 992px) {
        letrascentro {
            height: 25vh;
        }
    }

    @media (max-width: 1200px) {
        letrascentro {
            height: 25vh;
        }
    }


    .contever3,
    .contever3-fluid,
    .contever3-xl,
    .contever3-lg,
    .contever3-md,
    .contever3-sm {
        margin-top: 6vh;
    }

    @media (min-width: 400px) {
        .contever3 img {
            max-width: 100%;
            margin-top: 7vh;
        }
    }


    @media (min-width: 576px) {
        .contever3 img {
            max-width: 100%;
            margin-top: 1vh;
        }
    }

    @media (max-width: 360px) {
        .contever3 img {
            max-width: 100%;
            margin-top: 3vh;
        }
    }

    @media (max-width: 768px) {
        .contever3 img {
            max-width: 100%;
        }
    }

    @media (max-width: 992px) {
        .contever3 img {
            max-width: 100%;
        }
    }

    @media (max-width: 1200px) {
        .contever3 img {
            max-width: 100%;
            margin-top: 10%;
        }
    }


    textgray {
        font-size: calc(1.5em + 0.5vw);
        color: #CCCCCC;
        font-family: 'Mulish-bold';
        max-height: 100%;
        max-width: 100%;
    }


    packblue {
        font-size: calc(1.8em + 0.8vw);
        color: #1a97fb;
        font-family: 'Mulish-bold';
        max-height: 100%;
        max-width: 100%;
    }

    .textcenter {
        background-color: rgba(0, 0, 0, 0.00);
        margin: 1rem;
        padding: 1rem;
        /* IMPORTANTE */
        text-align: center;
    }

    .concruz {
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.00);
    }

    .contcruz {
        width: 5vh;
        height: 5vh;
        padding: 15px;
        margin: 15px;
        background-color: rgba(0, 0, 0, 0.00);
    }

    #cruz {
        background: #0076c6;
        height: 25px;
        position: relative;
        left: 12px;
        width: 5px;
    }

        #cruz:after {
            background: #0076c6;
            content: "";
            height: 5px;
            left: -10px;
            position: absolute;
            top: 10px;
            width: 25px;
        }

    .centcont {
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.00);
    }

    .contdis {
        width: 25vh;
        height: 5vh;
        padding: 15px;
        margin: 15px;
        background-color: rgba(0, 0, 0, 0.00);
    }

    .separador {
        padding-top: 10%;
    }

    .espacios {
        padding-top: 15px;
        padding-bottom: 15px;
    }


    .scontainer2 {
    }

        .scontainer2 .row {
            margin-right: 0px;
            margin-left: 0px;
        }



    .scontainer,
    .scontainer-fluid,
    .scontainer-xl,
    .scontainer-lg,
    .scontainer-md,
    .scontainer-sm {
        width: 100%;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        margin-right: auto;
        margin-left: auto;
        padding-top: 12px;
        padding-bottom: 12px;
        height: auto;
    }

    @media (min-width: 576px) {
        .scontainer-sm, .scontainer {
            max-width: 100%;
        }
    }

    @media (min-width: 768px) {
        .scontainer-md, .scontainer-sm, .scontainer {
            max-width: 100%;
        }
    }

    @media (min-width: 992px) {
        .scontainer-lg, .scontainer-md, .scontainer-sm, .scontainer {
            max-width: 100%;
        }
    }

    @media (min-width: 1200px) {
        .scontainer-xl, .scontainer-lg, .scontainer-md, .scontainer-sm, .scontainer {
            max-width: 100%;
            height: auto;
        }
    }


    .contenedorcentro {
        background: rgba(0, 0, 0, 0.00);
        width: 100%;
        height: 25vh;
        margin: 0vh 0 0vh 0;
        text-align: center;
    }


    .contenedorlinea {
        background: rgba(0, 0, 0, 0.00);
        width: 100%;
        height: 3vh;
        margin: 0vh 0 0vh 0;
        text-align: center;
    }

    textogris {
        font-size: calc(1.0em + 0.5vw);
        color: #CCCCCC;
        font-family: 'Mulish-bold';
        max-height: 100%;
        max-width: 100%;
    }

    overletras {
        font-size: calc(1.5em + 0.5vw);
        color: white;
        font-family: 'Mulish-bold';
        max-height: 100%;
        max-width: 100%;
    }


    .contenedorwhite3 {
        background: rgba(0, 0, 0, 0.00);
        width: 100%;
        margin: 0vh 0 0vh 0;
        text-align: right;
    }




    .targetswhite2 {
        height: 27rem;
        width: 95%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: white;
        -webkit-box-shadow: 10px 10px 9px 1px rgba(0,0,0,0.17);
        -moz-box-shadow: 10px 10px 9px 1px rgba(0,0,0,0.17);
        box-shadow: 10px 10px 9px 1px rgba(0,0,0,0.17);
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        overflow: hidden;
    }



    @media (min-width: 280px) {
        .targetswhite2 {
            height: 23rem;
            width: 13em;
        }
    }

    @media (min-width: 360px) {
        .targetswhite2 {
            height: 25rem;
            width: 15em;
        }
    }

    @media (min-width: 768px) {
        .targetswhite2 {
            height: 28rem;
            width: 27em;
        }
    }

    @media (min-width: 1200px) {
        .targetswhite2 {
            height: 28rem;
            width: 27em;
        }
    }

    @media (min-width: 1024px) {
        .targetswhite2 {
            height: 28rem;
            width: 15em;
        }
    }

    @media (min-width: 1900px) {
        .targetswhite2 {
            height: 28rem;
            width: 22em;
        }
    }


    .img-texto {
        width: 100%;
        height: 20vh;
        position: relative;
        background: white;
    }

    .xpadre {
        display: flex;
        justify-content: center;
        background-color: white;
    }

    .xhijo2 {
        width: 20vh;
        height: 20vh;
        padding: 5px;
        margin: 5px;
        background-color: white;
    }


    .centcontx {
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.00);
    }


    .contdix {
        width: 25vh;
        height: 8vh;
        padding: 15px;
        margin: 15px;
        background-color: rgba(0, 0, 0, 0.00);
    }



